#clock-container {
  box-shadow: 10px 5px 5px rgb(204, 14, 14);
}

#timer {
  color: white;
  font-size: var(--massive-font);
  font-weight: 800;
  text-align: center;
}

#timer:hover {
  cursor: pointer;
}

.btn {
  margin: auto;
  color: black;
  text-transform: uppercase;
  font-size: var(--small-font);
  background-color: white;
  border: 1px solid #dcddf5;
  border-radius: 8px;
  box-shadow: 0px 4px #bdbdc0;
}

.btn:focus {
  box-shadow: none;
  transform: translateY(4px);
}

#start {
  font: inherit;
  font-weight: 600;
  text-transform: uppercase;
  width: 10rem;
  height: 4rem;
}

#pause, #fast-forward, #resume {
  font: inherit;
  font-weight: 600;
  text-transform: uppercase;
  width: 5rem;
  height: 4rem;
}

.displayed-flex {
  display: flex !important;
}

.displayed-inline-block {
  display: inline-block !important;
}

.hidden {
  display: none !important;
}
