#clock-container {
  box-shadow: 10px 5px 5px rgb(204, 14, 14);
}

#timer {
  color: white;
  font-size: var(--massive-font);
  font-weight: 800;
  text-align: center;
}

#timer:hover {
  cursor: pointer;
}

#start {
  width: 10rem;
  height: 4rem;
}

#pause {
  width: 10rem;
  height: 4rem;
  display: none;
}

#fast-forward {
  width: 4rem;
  height: 4rem;
  display: none;
}
