<div
  id="clock-container"
  class="container mt-5 p-5 w-50 flex justify-content-center"
  style="background-color: #ff6380"
>
  <div id="timer" class="w-50 mx-auto">{{ timerValue }}</div>
  <div class="w-75 mx-auto pt-4 d-flex justify-content-evenly">
      <div>
        <button id="pause" type="button" class="btn btn-primary">Pause</button>
      </div>
      <div>
        <button id="start" type="button" class="btn btn-primary">Start</button>
      </div>
      <div>
        <button id="fast-forward" type="button" class="btn btn-primary">
          Fast Forward
        </button>
      </div>
  </div>
</div>
