<div class="container-fluid p-2 pt-2 mx-auto">
  <section>
    <h2>What is PomoClone?</h2>
    <p>A simple app replicating basic functionality for a Pomodoro Timer.</p>
    <p>It aims to be easy and intuitive to use, with a small but refined feature set.</p>
  </section>
  <section>
    <h2>What is the Pomodoro Technique?</h2>
    <p>The premise of a Pomodoro Timer is simple - from <a href="https://en.wikipedia.org/wiki/Pomodoro_Technique">Wikipedia</a>
      "The Pomodoro Technique is a time management method developed by Francesco Cirillo in the late 1980s. It uses a timer to break work into intervals,
      typically 25 minutes in length, separated by short breaks. Each interval is known as a pomodoro, from the Italian word for tomato, after the tomato-shaped
      kitchen timer Cirillo used as a university student.
    </p>
    <p>The technique has been widely popularized by apps and websites providing timers and instructions. Closely related to concepts such as timeboxing
      and iterative and incremental development used in software design, the method has been adopted in pair programming contexts."
    </p>
  </section>
  <section>
    <h2>How to use PomoClone</h2>
    <p>To Be Constructed!</p>
  </section>
  <section>
    <h2>PomoClone Features</h2>
    <ul>
      <li>A <em>pleasant, responsive design</em> that is easy to use on mobile and desktop</li>
      <li>A <em>customizable timer</em> with <em>audio notifications</em></li>
      <li>Easy to use <em>user-defined task list</em></li>
      <li>Can be used with <em>no user login</em></li>
    </ul>
  </section>
</div>
