<div #createTaskButton (click)="this.toggleCreateModal()" class="create-task-container" style="display: block">
  <div class="create-task-button">
    <fa-icon [icon]="faPlus"></fa-icon>
    <div class="create-task-prompt">Add New Task</div>
  </div>
</div>
<div #createTaskModal class="create-task-modal" style="display: none">
  <div class="create-task-modal-description">
    <input name="pomodoro-description" type="text" placeholder="What do you want to accomplish?" />
  </div>
  <div class="create-task-modal-pomodoros">
    <h3>How many pomodoros do you think this will take?</h3>
    <input [(ngModel)]="pomodoros" type="number" />
    <button (click)="incrementPomodoros()" class="up-button"><fa-icon [icon]="faUpLong"></fa-icon></button>
    <button (click)="decrementPomodoros()" class="down-button"><fa-icon [icon]="faDownLong"></fa-icon></button>
    <div class="create-task-modal-buttons">
      <button (click)="this.saveTask()">Save</button>
      <button (click)="this.toggleCreateModal()">Cancel</button>
    </div>
  </div>
</div>
